# Example environment variables for this Vite React app
# Copy this file to `.env.development`, `.env.qa`, or `.env.production` and fill values.

# Prefix env variables with VITE_ so Vite exposes them to client code.
VITE_APP_ENV=__ENV__
VITE_APP_HOST=__HOST_URL__
VITE_API_URL=__API_URL__
VITE_AUTH_CLIENT_ID=__AUTH_CLIENT_ID__
# Add other critical non-secret config names here (do NOT store secrets here)
